.header_container {
    display: flex;
    height:140px;
    justify-content: space-between;   
}
.header_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .2rem;
}
.title_Name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}

.title_header_Name {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-shadow: 1px 1px rgb(104, 98, 98) ;
    font-size: 1.4rem;
    
}

.title_designation {
    color:rgb(104, 98, 98) ;
    font-size: 1.4rem;
}

.exp_company_detail {
    margin:auto;
}